{% load static%}
<html><head><title>sportsapp </title>
{%include 'sports_app/common/commoncss.html'%}
</head>
<body>
    {%include 'sports_app/student/student_header.html'%}
    <div class "col-md-5" style="margin-left:40%; margin-top: 100px; margin-bottom:100px; background-color:white ;width:370; padding:20">
        <h5>Name :  👨{{student_dict_key.student_name}}</h5>
        <h5>Email:  {{student_dict_key.student_email}}</h5>
        <h5>Phone :  {{student_dict_key.student_phone}}</h5>
        <h5>Parent name :  {{student_dict_key.parent_name}}</h5>
        <h5>Parent Phone :  {{student_dict_key.parent_phone}}</h5>

    </div>

    <footer> {%include 'sports_app/common/footer.html'%}</footer>
    {%include 'sports_app/common/commonjs.html'%} 
    <script src="{% static 'sports_app/js/validation.js'%}">
    </script>
</body>
</html>