

{% load static%}
<html><head><title>sportsapp</title>
{%include 'sports_app/common/commoncss.html'%}
<link rel="stylesheet" href="{% static 'sports_app/css/sports_plan.css' %}">
</head>
<body>
    {%include 'sports_app/student/student_header.html'%} 
  <div class="container">
    <table>
      <thead>
        <tr>
          <th >Coach Id</th>
          <th >Coach Name</th>
          <th>Coach phone</th>
          <th>Coach email</th>
          <th>Coach Sport</th>
          <th>Coach Experience</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td scope="col" >{{c_info_key.employee_id}}</td>
            <td scope="col" >{{c_info_key.employee_name}}</td>
            <td scope="col" >{{c_info_key.phone}}</td>
            <td scope="col" >{{c_info_key.email}}</td>
            <td scope="col" >{{c_info_key.sport}}</td>
            <td scope="col" >{{c_info_key.experience}}</td>
        </tr>

       
      </tbody>
    </table>
  </div>


</body>
</html>









