



{% load static%}
<html><head><title>sportsapp</title>
{%include 'sports_app/common/commoncss.html'%}
<link rel="stylesheet" href="{% static 'sports_app/css/sports_plan.css' %}">

<style type="text/css">
    body {
background: linear-gradient(45deg, #49a09d, #5f2c82);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
</style>
</head>
<body>
    {%include 'sports_app/student/student_header.html'%} 
  <div class="container">
    <table>
      <thead>
        <tr>
          <th >Name</th>
          <th >Email</th>
          <th>Phone</th>
          <th>Parent name</th>
          <th>Parent phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td scope="col" >{{student_dict_key.student_name}}</td>
            <td scope="col" > {{student_dict_key.student_email}}</td>
            <td scope="col" >{{student_dict_key.student_phone}}</td>
            <td scope="col" >{{student_dict_key.parent_name}}</td>
            <td scope="col" >{{student_dict_key.parent_phone}}</td>
        </tr>

       
      </tbody>
    </table>
  </div>


</body>
</html>









