{% load static%}
<!DOCTYPE html>
<html lang="en">
<head><title>sportsapp</title>
    <link rel="stylesheet" href="{%static 'sports_app/css/aboutus.css'%}">
    <style type="text/css">
      body {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  </style>
</head>
<body>
    <div class="about-section">
        <h1><u>About Us Page</u></h1>
        <br>
        <br>
        <pre style="font-size:130%;">
            The Sports Mastery is a web-based platform designed to provide a comprehensive solution for
            a specific sport academy to manage its sports activities and operations. This web application
            is aimed at streamlining the processes of registration, admission, scheduling, payment, 
            performance tracking and  query solving.
            Manually managing sports operations, information , promoting events and taking coach feedback 
            can be time-consuming, prone to errors, less efficient, tideous and not budget friendly.
            It is very difficult for the sports academy to analyse  skills and experience of each coach
            so that a player student can choose one of them if there is an option to choose and for 
            administrators to access important information or communicate with each other in a timely
            manner.<br><br>

            To resolve all these types of problems we are automating all the operations of the academy in
            the form of web application with name <b>The Sports Mastery</b> . 
        </pre>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{%static 'sports_app/images/anubhavMishra.jpg'%}" alt="Mike" style="height:200px">
            <div class="container">
              <h2>Anubhav Mishra</h2>
              <p>anubhavmishra1@gmail.com</p>
              <p><button class="button">Web Developer</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{%static 'sports_app/images/shweta.jpg'%}" alt="Mike" style="height:200px">
            <div class="container">
              <h2>Shweta Singh</h2>
              
              <p>shwetas48@gmail.com</p>
              <p><button class="button">Web Developer</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{%static 'sports_app/images/prateek.jpg'%}" alt="Mike" style="height:200px">
            <div class="container">
              <h2>Prateek Hind Maurya </h2>
              <p>prateekhm@gmail.com</p>
              <p><button class="button">Web Developer</button></p>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>