{% load static%}
<html><head><title>sportsapp</title>
{%include 'sports_app/common/commoncss.html'%}
<style type="text/css">
    body {
background: linear-gradient(45deg, #49a09d, #5f2c82);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
</style>
</head>
<body background="static/sports_app/images/sports.jpeg"> 
    
    {%include 'sports_app/common/navbar.html'%}
    {% comment %} message code {% endcomment %}
    {% if messages%}
    {% for m in messages %} 
    {% comment %} {{m}}  {% endcomment %}
    <div class="alert alert-{{m.tags}} alert-dismissible fade show text-center" role="alert">
        <strong> {{m}} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div> 
    {%endfor%}
    {%endif%} 


    
    <div class="container "  style="height:72%">
        <div class="d-flex justify-content-center">
            <div class="card mt-5 col-md-6 animated bounceInDown myForm">
                <div class="card-header">
                <p class="animate-charcter" style="font-size: 30px;text-align: center"><b> Contact Us Form</b>    </p>
                </div>
                <div class="card-body">
                    <form method="post" action="/contactus/" class="needs-validation" novalidate>
                        {%csrf_token%}
                        <div id="dynamic_container">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-user-graduate"></i></span>
                                </div>
                                <input type="text" name="name" placeholder="Enter Your Name" class="form-control" required/>
                                <div class="invalid-feedback"> Enter Your name Please  </div>
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="email" required  name="email" placeholder="Enter Your Email" class="form-control"/>
                                
                                <div class="invalid-feedback">    Enter Your Email Please  </div>
                            </div>
                            
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-phone-square"></i></span>
                                </div>
                                <input type="tel" required name="phone" placeholder="Enter Your Phone Number" class="form-control"/>
                                <div class="invalid-feedback">    Enter your phone number  </div>
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-cogs"></i></span>
                                </div>
                                <textarea required placeholder="Enter Your Query" name="query" class="form-control"></textarea>
                                
                                <div class="invalid-feedback">   PLease write your query  </div>
                            </div>                       
                        </div>
                    
                        <button  style="width: 150px;height: 50px; text-align: center; margin-left:40%;margin-top:3% " class="btn btn-success btn-sm submit_btn">
                            <i class="fas fa-arrow-alt-circle-right"></i> <b>Submit</b>
                        </button>
                       
                    </form>        
                </div>
            </div>
        </div>
    </div>

    {%include 'sports_app/common/commonjs.html'%}  
    <script src="{% static 'sports_app/js/validation.js'%}"> </script>
</body>
</html>