{% load static%}
<html><head><title>sportsapp</title>
{%include 'sports_app/common/commoncss.html'%}
{% comment %} <link rel="stylesheet" href="{%static 'sports_app/css/style.css' %}"> {% endcomment %}
<style>.w-100{height:59vh}</style>
</head>
<body >
    {%include 'sports_app/common/navbar.html'%}<br>

     <div id="carouselExampleCaptions" class="carousel slide " style="width:50vw;height:18vw;margin-left:25% ">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="width:100%;height:100%;">
          <div class="carousel-item active">
            <img src="{%static 'sports_app/images/img1.png'%}" class="d-block w-100 container" alt="...">
            
          </div>
          <div class="carousel-item">
            <img src="{%static 'sports_app/images/img2.png'%}" class="d-block w-100" alt="...">
            
          </div>
          <div class="carousel-item">
            <img src="{%static 'sports_app/images/img3.jpeg'%}" class="d-block w-100" alt="...">
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
      <div style="text-align:center;color:white"><h4>Hustle, hit and never quit.<h4></div>

        <div class="container-fluid bg-light color-danger">
        <marquee onmouseover="this.stop()" onmouseout="this.start()">
          {% for data_obj in event_key %}
          <a href="/view_contents/{{data_obj.id}}" style="text-decoration:none;font-size:2vh">
          {{data_obj.event_name}}
          </a>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {%endfor%}
        </marquee> 
      </div>
      <div class="container-fluid bg-light color-danger" style="padding-left:20px">
          {% for data_obj in feedback_key %}
          <div style="display:inline-block; margin-right:15px; margin-bottom:15px;padding:10px; border-style:solid;border-width:1px; border-color:black;">
           Student Name: {{data_obj.std_id}}
           <br> Coach Name : {{data_obj.c_id}}
           <br>Coach Feedback : {{data_obj.feedback_text}}
           <br> Rating : {{data_obj.rating}} /5
          </div>
          {%endfor%}  
      </div>
      <div class="container-fluid bg-light color-danger" style="padding-left:20px">
        {% for data_obj in tips_key %}
        <div style="display:inline-block; margin-right:15px; margin-bottom:15px;padding:10px; border-style:solid;border-width:1px; border-color:black;">
         Posted By : {{data_obj.employee}}
         <br> Tip : {{data_obj.content}}
        </div>
        {%endfor%}  
        </div>
      <br>
    <footer> {%include 'sports_app/common/footer.html'%}</footer>
    <script src="{%static 'sports_app/js/chatbot.js'%}"></script>
    {%include 'sports_app/common/commonjs.html'%}  
    <script src="{% static 'sports_app/js/validation.js'%}">
    </script>
</body>
</html>