{% load static%}
<html><head><title>sportsapp</title>
{%include 'sports_app/common/commoncss.html'%}
</head>
<body>
    {%include 'sports_app/common/navbar.html'%}
    <table class="table" style="width:70%; margin-left:15%; margin-top:2%; background-color:white">
        <thead>
          <tr>
            <th scope="col">Sport</th>
            <th scope="col">Plan_name</th>
            <th scope="col">Charge</th>
            <th scope="col">Facilities</th>
          </tr>
        </thead>
        <tbody>
    {% for sp in sports_plan_key%}
    <tr>
        <td scope="col" >{{sp.sport}}</td>
        <td scope="col" >{{sp.plan_name}}</td>
        <td scope="col" >{{sp.charge}}</td>
        <td scope="col" >{{sp.facilities}}</td>
    </tr>
    {% endfor %}
        </tbody>
      </table>
    <footer> {%include 'sports_app/common/footer.html'%}</footer>
    {%include 'sports_app/common/commonjs.html'%} 
    <script src="{% static 'sports_app/js/validation.js'%}">
    </script>
</body>
</html>