{% load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Sportsapp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/sports_app/vendor/bootstrap/css/bootstrap.min.css' %}" >


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static '/sports_app/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static '/sports_app/assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static '/sports_app/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static '/sports_app/assets/css/lightbox.css' %}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
<style>
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
  </head>

<body>

  

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Sports Mastery 
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <a class="nav" href="{{'/contactus'}}"><li class="scroll-to-section"> <h5>Contact Us</h5></li></a> 
                      <a class="nav" href="{{'/feedback'}}"><li class="scroll-to-section"><h5>Feedback</h5> </li></a>
                      <a class="nav" href="{{'/aboutus'}}"><li class="scroll-to-section"><h5> About Us</h5></li></a> 

                      <a class="nav" href="{{'/sport_suggestion'}}"> <li class="scroll-to-section"><h5>Sport Suggestion</h5></li></a>
                      <a class="nav" href="{{'/admission_request'}}"><li class="scroll-to-section"><h5>Admission Request</h5></li> </a> 
                      <a class="nav" href="{{'/statistics'}}"> <li class="scroll-to-section"><h5>Statistics</h5></li> </a> 
                      <a class="nav" href="{{'/sports'}}"> <li class="scroll-to-section"><h5>Sports</h5></li> </a> 
                      <li class="has-sub" align="bottom">

                        <a class="nav"  href="javascript:void(0)"><h5>Login</h5></a>
                        <ul class="sub-menu">
                          <a class="dropdown-item" href="{{'/student_login'}}"><li>Student</li></a>
                          <a class="dropdown-item" href="{{'/coach_login'}}"> <li>Coach</li></a>
                        </ul>
                    </li>
                    
                    
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static '/sports_app/assets/images/video.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h2>Welcome to Sports Mastery Sports facilities</h2>
              
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="Sports">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            
            <div class="item">
              
              <div class="down-content">
                <img src="{% static '/sports_app/assets/images/cricket.png' %}" alt="" height="100" width="400">
                <h4>Cricket</h4>
              </div>
            </div>
            
            <div class="item">
              
              <div class="down-content">
                <img src="{% static '/sports_app/assets/images/basketball.png' %}" alt="" height="100" width="400">
                <h4>Basketball</h4>
              </div>
            </div>


            <div class="item">
              
              <div class="down-content">
                <img src="{% static '/sports_app/assets/images/volleyball.png' %}" alt="" height="100" width="200">
                <h4>Volleyball</h4>
              </div>
            </div>

            <div class="item">
              
              <div class="down-content">
                <img src="{% static '/sports_app/assets/images/badminton.png' %}" alt="" height="100" width="200">
                <h4>Badminton</h4>
              </div>
            </div>


            <div class="item">
              
              <div class="down-content">
                <img src="{% static '/sports_app/assets/images/football.png' %}" alt="" height="100" width="200">
                <h4>Football</h4>
              </div>
            </div>


           
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static '/sports_app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/sports_app/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static '/sports_app/assets/js/isotope.min.js' %}"></script>
    <script src="{% static '/sports_app/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static '/sports_app/assets/js/lightbox.js' %}"></script>
    <script src="{% static '/sports_app/assets/js/tabs.js' %}"></script>
    <script src="{% static '/sports_app/assets/js/video.js' %}"></script>
    <script src="{% static '/sports_app/assets/js/slick-slider.js' %}"></script>
    <script src="{% static '/sports_app/assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>