{% extends 'sports_app/coach/coach_base.html' %}
{%block title%} sports_app | coach_inbox
                   {% endblock %}
                  
{%block content%}
<form method="POST" action="/delete_inbox_msg/">{%csrf_token%}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Sender id</th>
        <th scope="col">subject</th>
        <th scope="col">Date</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
{% for m in msg_key%}
<tr>
    <td scope="col" >  <input type="checkbox" name="checkid" value="{{m.id}}">  </td>
    <td scope="col" >{{m.sender_id}}</td>
    <td scope="col" >{{m.msg_subject}}</td>
    <td scope="col" >{{m.date}}</td>
    <td scope="col" >{{m.msg_content}}</td>
</tr>
{% endfor %}
<tr > <td colspan="5" class="text-center"> <button class="btn btn-success"> Delete </button> <td> </tr>
    </tbody>
  </table>
</form>
{%endblock %}