<style>
.nav-link{color:darkblue!important;     font-family:Century Gothic ;     font-size:1.2vw; margin-left:15;}
a:hover{color:green!important;}
</style>
        <nav class="navbar navbar-expand-lg " style="background-color:white">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="">
                  <li class="nav-item">  <a class="nav-link active" aria-current="page" href="{{'/'}}">
                      <i class="fa fa-home" style="font-size:30px;"></i></a> 
                  </li>
                  <li class="nav-item">  <a class="nav-link" href="{{'/contactus'}}">Contact Us</a> </li>
                  <li class="nav-item">  <a class="nav-link" href="{{'/feedback'}}">Feedback</a>  </li>
                  <li class="nav-item">  <a class="nav-link" href="{{'/aboutus'}}">About Us</a>  </li>  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Login
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{'/student_login'}}">Student</a></li>
                      <li><a class="dropdown-item" href="{{'/coach_login'}}">Coach</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      sport
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{'/sports'}}">Sport List</a></li>
                      <li><a class="dropdown-item" href="{{'/sports_plan'}}">Sports Plan</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">  <a class="nav-link" href="{{'/coach'}}">coach</a>  </li>
                  <li class="nav-item">  <a class="nav-link" href="{{'/sport_suggestion'}}">Sport Suggestion</a>  </li>  
                  <li class="nav-item">  <a class="nav-link" href="{{'/admission_request'}}">Admission Request</a>  </li>  
                </ul>  
              </div>
            </div>
          </nav>